<div class="center jumbotron">
  <h1>あなたにベストの練習を</h1>

  <h2>
    ゴルフに関する質問をお答えいただくだけで、毎週あなたに合った練習をアドバイス。
  </h2>

  <%= link_to "新規登録", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "アプリの使い方詳細", '#', class: "btn btn-lg btn-primary" %>
</div>

