<% provide(:title, "How to Use") %>
<h1>アプリの使い方</h1>

<div class="row">
  <div class="col-md-12">
    <h3>スコア管理</h3>
    <p>
        1, スコア入力をクリック<br>
        2, プレイしたゴルフ場の情報を記入<br>
        3, スコア入力<br>
        内容を詳細に入力することで、正確におすすめの練習をアドバイスします。
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>スコアを参考にあなたの苦手分野を分析</h3>
    <p>
        1, スコアを詳細に入力<br>
        2, メインページに移動<br>
        3, あなたの苦手な分野を表示します<br>
        苦手分野を基準にあなたにあった練習メニューを作成します。
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>あなたにあった練習をアドバイス</h3>
    <p>
        1, スコアを詳細に入力<br>
        2, 一週間に使える練習時間を記入<br>
        3, 練習アドバイスを作成<br>
        練習の詳細も確認することができます。
    </p>
  </div>
</div>