<h1>利用規約</h1>

<h1>利用規約</h1>
    <p>このウェブサイト（またはサービス）の利用に際しては、以下の利用規約をよくお読みいただき、これに同意した上でご利用ください。本ウェブサイトの利用は、以下の利用規約に従って行われるものとします。</p>

    <h2>1. サービスの提供</h2>
    <p>1.1 本ウェブサイトは、提供するサービスに対して一時的または永続的に変更を加えることがあります。</p>
    <p>1.2 本ウェブサイトは、法的義務または技術的問題により、サービスの提供を一時的または永続的に中止する場合があります。</p>

    <h2>2. コンテンツの利用</h2>
    <p>2.1 本ウェブサイトに掲載されているコンテンツは、著作権などの知的財産権によって保護されています。コンテンツの複製、再配布、変更、販売、公開、商用利用などを禁じます。</p>
    <p>2.2 本ウェブサイトに掲載されている情報は信頼性を保つよう努めていますが、正確性や最新性を保証するものではありません。情報に基づいて行動する際は、自己の責任において判断してください。</p>

    <h2>3. ユーザーの責任</h2>
    <p>3.1 本ウェブサイトの利用者は、法律や公序良俗に反しないようにサービスを利用する責任があります。</p>
    <p>3.2 本ウェブサイトの利用者は、他のユーザーやサービス提供者に対して迷惑や害を与える行為を禁止します。</p>
    <p>3.3 本ウェブサイトの利用者は、自己のアカウント情報を適切に保護し、不正使用や第三者への提供を防止する責任があります。</p>

    <h2>4. 免責事項</h2>
    <p>4.1 本ウェブサイトは、サービスの提供に最善を尽くしますが、サービスの中断やエラー、データの損失などの問題により生じた損害に対して責任を負いません。</p>
    <p>4.2 本ウェブサイトのコンテンツや提供する情報によって生じた直接的または間接的な損害についても責任を負いません。</p>

    <h2>5. その他の規定</h2>
    <p>5.1 本利用規約は、随時変更される可能性があります。変更後の利用規約は、変更が行われた時点から効力を有するものとします。</p>
    <p>5.2 本利用規約は、日本の法律に基づいて解釈されます。本ウェブサイトの利用に関する紛争については、東京地方裁判所を専属的な管轄裁判所とします。</p>

<p>最終更新日：[最終更新日]</p>

<%= button_to "戻る", new_user_path, method: :get, class: "btn btn-primary" %>
