<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Pro Coach  ", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to (t 'defaults.register'),   new_user_path %></li>
        <li><%= link_to (t 'defaults.login'), '#' %></li>
      </ul>
    </nav>
  </div>
</header>
